@model IEnumerable<RoleModel>
@{
    ViewData["Title"] = "AllRoles";
}

<h1>AllRoles</h1>
<a class="btn btn-primary btn-sm"  asp-action="CreateRole" asp-controller="Auth">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Roles
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <a class ="btn btn-primary btn-sm" asp-action="UpdateRole" asp-controller="Auth" asp-route-id="@item.Id">Update</a>
                    <a class="btn btn-primary btn-sm" asp-action="DeleteRole" asp-controller="Auth" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>