
@{
    ViewData["Title"] = "ChoiceSection";
}

<h1>ChoiceSection</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="AllUser">Gestione Utenti</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="AllRoles">Gestione Ruoli</a>