@model AuthModel
@{
    ViewData["Title"] = "Login";
}

<form asp-action="Login">
    <label asp-for="Username" />
    <input asp-for="Username" />
    <br />
    <label asp-for="Password" />
    <input type="password" asp-for="Password" />
    <button>Login</button>
</form>