@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p class="lead">Explore the features of our application and learn more about ASP.NET Core.</p>
    <a href="https://learn.microsoft.com/aspnet/core" class="btn btn-primary">Learn More</a>
</div>